<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">



	<div class="page-err">
		<div class="err-container">
			<div class="text-center">
				<th:block th:with="httpStatus=${T(org.springframework.http.HttpStatus).valueOf(#response.status)}">
					<div class="err-status" >
						<h1>[(${httpStatus})]</h1>
					</div>
					<div class="err-message">
						<h2>[(${httpStatus.reasonPhrase})]</h2>
						<h3>[(${errorMessage})]</h3>
					</div>
				</th:block>
				<div class="err-body">
					<a th:href="@{/}" class="btn btn-lg btn-goback">
						<span class="glyphicon glyphicon-arrow-left"></span><span class="space"></span> Go Back
					</a>
				</div>
			</div>
		</div>
	</div>

</html>